<div class="flex flex-col flex-auto flex-shrink-0 border-l border-r border-gray-400 mx-1">
    <div class="px-6 py-4">
      <span class="font-bold text-2xl">
        <%= line.name %>
      </span>
    </div>

    <div class="px-6">
      <%= link_to 'Show', line %> |
      <%= link_to 'Edit', edit_line_path(line) %> |
      <%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <div class="px-6 py-4 flex-1">
      <%= render line.tasks %>
    </div>

    <%= link_to 'New Task', new_task_path(task: {line_id: line}), class: "px-6 block bg-gray-200" %>
</div>