<% line ||= nil %>
<% lines ||= [] %>
<% project ||= nil %>

<%= form_with(model: [project, line, task], remote: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6 field">
    <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, placeholder: 'what is it about?', class: "base-input-box" %>
  </div>

  <div class="mb-6 field">
    <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, placeholder: 'What else there is to know about it?', class: "base-input-box" %>
  </div>

  <% if line.nil? %>
    <div class="mb-6 field">
      <%= form.label :line_id, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.collection_select :line_id, lines, :id, :name, {}, class: "base-input-box" %>
    </div>
  <% end %>

  <div class="mb-6 actions">
    <%= form.submit class: "form__btn form__btn-submit" %>
  </div>
<% end %>
