<div class="rounded shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= task.title %></div>
      
    <div class="text-gray-700 text-base"><%= task.line.name %></div>

    <p class="text-gray-700 text-base"><%= task.description %></p>
  </div>

  <div class="px-6 py-4">
    <%= link_to 'Show', task %> |
    <%= link_to 'Edit', edit_task_path(task) %> |
    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>