<!DOCTYPE html>
<html>
  <head>
    <title>ChatRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  </head>

  <body class="container mx-auto my-6">
    <%= yield %>
  </body>
</html>
